/* Define Varibles */
/* Mobile Only */
/* Tablet Only */
/* Desktop Only */
/* Widescreen-Desktop Only */
/* Full HD Only */
/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: none;
}

html {
  font-family: 'Exo 2', 'Montserrat', 'Roboto', 'Lato', 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 1rem;
}

body {
  overflow-x: hidden;
  text-align: center;
  min-width: 360px;
  background-color: #fff;
  width: 100%;
}

body__active {
  overflow: hidden;
}

body .preload * {
  -webkit-animation-duration: 0s !important;
          animation-duration: 0s !important;
}

.modal-space {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
  z-index: -1;
}

.modal-space__active {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: #000;
  opacity: 0.3;
  z-index: 5;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  font-size: 0;
}

ul > li {
  display: inline-block;
}

li > a {
  display: block;
  font-size: 1rem;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Selectors */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
}

header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background-color: #333;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .top--logo {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #fff;
  font-size: 1.9rem;
  background-color: #fc4f4f;
}

header .top .hamburger-inner,
header .top .hamburger-inner::before,
header .top .hamburger-inner::after,
header .top .hamburger.is-active .hamburger-inner,
header .top .hamburger.is-active .hamburger-inner::before,
header .top .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

header .top--logo--brand {
  padding: 15px;
}

header .top--menu {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  background-color: inherit;
}

header .top--menu ul {
  display: block;
}

header .top--menu li {
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

header .top--menu li #current {
  background-color: #fc4f4f;
}

header .top--menu li:hover {
  -webkit-box-shadow: inset 0 -4px #fff;
          box-shadow: inset 0 -4px #fff;
}

header .top--menu li a {
  display: block;
  line-height: 66px;
  padding: 0 2rem;
}

header .top--social {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  border-left: 1px solid #fff;
  background-color: #000;
}

header .top--social a {
  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .fa-youtube-square,
header .fa-facebook-square,
header .fa-twitter-square {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

header .fa-youtube-square:hover,
header .fa-facebook-square:hover,
header .fa-twitter-square:hover {
  -webkit-box-shadow: inset 0 -4px #fff;
          box-shadow: inset 0 -4px #fff;
}

header .fa-youtube-square:hover {
  color: #ff0000;
}

header .fa-facebook-square:hover {
  color: #3b5998;
}

header .fa-twitter-square:hover {
  color: #1da1f2;
}

/* Main Section */
main #showcase {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 66px;
}

main .slide {
  display: none;
}

main img {
  display: block;
  height: auto;
  width: 100%;
}

main .fade {
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main #left-arrow,
main #right-arrow {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  background: #333;
  color: #ddd;
  padding: 0.5rem;
  top: calc(50% + (66px / 2));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main #left-arrow {
  left: 0;
  border-radius: 0 3px 3px 0;
}

main #right-arrow {
  right: 0;
  border-radius: 3px 0 0 3px;
}

main #left-arrow:hover,
main #right-arrow:hover {
  opacity: 0.8;
}

main #dot-box {
  background-color: #eee;
  padding: 1rem;
  position: relative;
}

main .dot {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

main #active,
main .dot:hover {
  background-color: #333;
}

main #content {
  background-color: #fff;
  padding: 0.8rem;
  max-width: 1200px;
  margin: auto;
}

main #content p {
  font-size: 1.5rem;
}

main .content--tweet {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  max-width: 80%;
  text-align: center;
  margin: auto;
  overflow: scroll;
  max-height: 960px;
  position: relative;
}

/* Sideber Selectors */
.sidebar {
  position: fixed;
  top: 66px;
  left: -300px;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  overflow: auto;
  -webkit-transition: left 250ms ease-out;
  transition: left 250ms ease-out;
}

.sidebar__open {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  -webkit-transition: left 250ms ease-out;
  transition: left 250ms ease-out;
}

/* Footer Selectors */
footer {
  height: 6rem;
  background-color: #333;
  color: #fff;
}

footer #copyright {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  font-size: 0.9rem;
}

.top-button {
  position: fixed;
  bottom: 0;
  right: -100px;
  z-index: 20;
  background-color: #000;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  width: 100px;
  border: none;
}

.top-button a {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 4px;
  color: #fff;
  text-align: center;
}

.test {
  padding-left: 0;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

.test__active {
  padding-left: 300px;
}
