/* Define Varibles */
$primary: #fc4f4f;
$primary-light: lighten(#fc4f4f, 40%);
$primary-dark: darken(#fc4f4f, 40%);
$background: #e9cca7;
$default: transparent;
$black: #000;
$darker: #222;
$dark: #333;
$light: #eee;
$white: #fff;
