/* Define Varibles */
$primary: #fc4f4f;
$primary-light: lighten(#fc4f4f, 40%);
$primary-dark: darken(#fc4f4f, 40%);
$background: #e9cca7;
$default: transparent;

$black: #000;
$darkest: #222;
$darker: #333;
$gray: gray;
$dark: #444;
$light: #eee;
$white: #fff;
