/* Define Varibles */
$main: #ffecd4;
$main-light: lighten(#ffecd4, 40%);
$main-dark: darken(#ffecd4, 40%);
$default: transparent;
$black: #000;
$darkest: #222;
$darker: #333;
$dark: #444;
$gray: gray;
$moderate: #aaa;
$light: #eee;
$white: #fff;
$black: #000;
$dark: #333;
