/* Global Selectors */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  backface-visibility: hidden;
  outline: none;
}

html {
  font-family: 'Exo 2', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-size: 1rem;
}

body {
  overflow-x: hidden;
  text-align: center;
  min-width: 360px;
  background-color: white;
  width: 100%;
}

.body__active {
  overflow: hidden;
}

body.preload * {
  animation-duration: 0s !important;
}

.modal-space {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  transition: 200ms ease;
  z-index: -1;
}

.modal-space__active {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

ul {
  list-style-type: none;
  font-size: 0;
}

ul > li {
  display: inline-block;
}

li > a {
  display: block;
  font-size: 1rem;
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Selectors */
header {
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #333;
  color: white;
  flex-wrap: wrap;
}

.top--logo {
  flex-basis: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
  font-size: 2rem;
  background-color: #fc4f4f;
}

.top .hamburger-inner,
.top .hamburger-inner::before,
.top .hamburger-inner::after,
.top .hamburger.is-active .hamburger-inner,
.top .hamburger.is-active .hamburger-inner::before,
.top .hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.top--logo--brand {
  padding: 15px;
}

.top--menu {
  flex-basis: auto;
  background-color: inherit;
}

.top--menu ul {
  display: block;
}

.top--menu li {
  transition: 0.25s ease;
}

.top--menu li #current {
  background-color: #fc4f4f;
}

.top--menu li:hover {
  box-shadow: inset 0 -4px #fff;
}

.top--menu li a {
  display: block;
  line-height: 66px;
  padding: 0 2rem;
}

.top--social {
  flex-basis: 300px;
  border-left: 1px solid white;
  background-color: #000;
}

.top--social a {
  display: inline-block;
  position: relative;
  padding: 0 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.fa-youtube-square,
.fa-facebook-square,
.fa-twitter-square {
  box-sizing: content-box;
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem;
  transition: 0.25s ease;
}

.fa-youtube-square:hover,
.fa-facebook-square:hover,
.fa-twitter-square:hover {
  box-shadow: inset 0 -4px #fff;
}

.fa-youtube-square:hover {
  color: #ff0000;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter-square:hover {
  color: #1da1f2;
}

/* Main Section */
main #showcase {
  position: relative;
  height: auto;
  width: 100%;
  padding-top: 66px;
}

main .slide {
  display: none;
}

main img {
  display: block;
  height: auto;
  width: 100%;
}

main .fade {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

main #left-arrow,
main #right-arrow {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  background: #333;
  color: #ddd;
  padding: 0.5rem;
  top: calc(50% + (66px / 2));
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.5s ease;
}

main #left-arrow {
  left: 0;
  border-radius: 0 3px 3px 0;
}

main #right-arrow {
  right: 0;
  border-radius: 3px 0 0 3px;
}

main #left-arrow:hover,
main #right-arrow:hover {
  opacity: 0.8;
}

main #dot-box {
  background-color: #eee;
  padding: 1rem;
  position: relative;
}

main .dot {
  cursor: pointer;
  height: 0.8rem;
  width: 0.8rem;
  margin: 0 2px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  transition: 0.5s ease;
}

main #active,
main .dot:hover {
  background-color: #333;
}

main #content {
  background-color: white;
  padding: 0.8rem;
  max-width: 1200px;
  margin: auto;
}

main #content p {
  font-size: 1.5rem;
}

.content--tweet {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  max-width: 80%;
  text-align: center;
  margin: auto;
  overflow: scroll;
  max-height: 960px;
  position: relative;
}

/* Sideber Selectors */
.sidebar {
  position: fixed;
  top: 66px;
  left: -300px;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  overflow: auto;
  transition: left 250ms ease-out;
}

.sidebar__open {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 20;
  height: 100vh;
  width: 300px;
  background-color: #333;
  transition: left 250ms ease-out;
}

/* Footer Selectors */
footer {
  height: 6rem;
  background-color: #333;
  color: #fff;
}

footer #copyright {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 0.9rem;
}

.top-button {
  position: fixed;
  bottom: 0;
  right: -100px;
  z-index: 20;
  background-color: #222;
  transition: 0.25s ease;
  width: 100px;
  border: none;
}

.top-button a {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 4px;
  color: white;
  text-align: center;
}

.test {
  padding-left: 0;
  transition: 250ms ease-out;
}

.test__active {
  padding-left: 300px;
}
